body{
  background: rgba(0, 0, 0, 0.918);
}
.nav__bar {
  height: 5em;
  border: 0;
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}



.loginForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.loginForm fieldset {
  border: none;
}

.loginForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.loginForm label {
  display: block;
  margin-bottom: 8px;
}

.loginForm__button {
  position: relative;
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  margin: 0 auto;
  background: #32E875;
  font-size: 1.25em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.loginForm__button:hover {
  background: #25b65a;
  cursor: pointer;
}

.loginForm input,
.loginForm textarea,
.loginForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.signupForm {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 2em auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.signupForm fieldset {
  border: none;
}

.signupForm legend {
  font-size: 1.4em;
  margin-bottom: 1.5em;
  text-align: center;
}

.signupForm label {
  display: block;
  margin-bottom: 8px;
}

.signupForm input,
.signupForm textarea,
.signupForm select {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.signupForm input:focus,
.signupForm textarea:focus,
.signupForm select:focus {
  background: #d2d9dd;
}

.signupForm select {
  height: 35px;
}

.signupForm__submit {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #5581ee;
  font-size: 1.5em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  border-color: #4b73da;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.signupForm button:hover {
  background: #25b65a;
  cursor: pointer;
}

.signupForm__error {
  color: red;
  font-size: 0.75em;
  margin: 0.5em;
}

.signup__form--button{
  position: relative;
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  margin: 0 auto;
  background: #32E875;
  font-size: 1.25em;
  text-align: center;
  font-style: normal;
  width: 75%;
  border-width: 1px;
  border-style: outset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: auto;
}

.nav__element--login{
  display: flex;
  margin-right: 20px;
}
