.create__form{
  display: flex;
  flex-direction: column;
}

.form--div{
  display: flex;
  height: 150px;
  width:  400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create_collection--header{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
}
